
.single-image-conversion {
    gap: 1rem;
    padding: 1rem;
    width: 100vw;
}
  
.file-selection {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 750px;
}

.source {
    font-size: medium;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
  
.file-label {
    font-size: 1rem;
    color: #333;
}
  
.file-path {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.file-input {
    display: none;
}
  
.file-selection label::after {
    content: "Browse";
    background-color: #e0e0e0;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.file-selection label:hover::after {
    background-color: #d0d0d0;
}
  
.conversion-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}
  
.image-preview-box {
    width: 100%;
    margin-top: 0.5rem;
    border-radius: 4px;
    max-width: 750px;
    height: 250px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.image-preview {
    max-width: 100%;
    max-height: 100%;
}
  
.image-placeholder {
    color: #888;
}

.output {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 750px;
}

.output-name {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
select, button {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}
  
button {
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color: #d0d0d0;
}
  